@charset "UTF-8";
@import "../fonts/stylesheet.css";
@import "nullstyle.css";
/**
  в интервале между указанными
  @include media-breakpoint-between("md", "lg") {

    background:green;
  }
*/
/**

  указанный и выше
  @include media-breakpoint-up("md") {

    background:green;
  }
*/
/**
  указанный и ниже
  @include media-breakpoint-down("md") {

    background:green;
  }
*/
/**
  только на указанном
  @include media-breakpoint-only("md") {

    background:green;
  }
*/
body {
  font-family: "Gilroy";
  background: #FCF7F4;
}

.container {
  max-width: 1130px !important;
}

.nav {
  background: #FDDDC2;
}
@media (max-width: 991.98px) {
  .nav__logo {
    max-height: 45px;
  }
}
.nav__container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .nav__container {
    height: 150px;
  }
}
.nav__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav__phone_text:hover {
  color: #2B2B2B;
}
.nav__address_text, .nav__phone_text, .nav__callback-link {
  text-decoration: none;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #2B2B2B;
}
.nav__callback {
  width: 220px;
  height: 60px;
  border-radius: 100px;
  background: #FAC1FB;
}
.nav__callback_link {
  width: 220px;
  height: 60px;
  border-radius: 100px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #2B2B2B;
}
.nav__callback_link:hover {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
.nav__box {
  margin-left: 90px;
}
.nav__address_text, .nav__phone_text {
  margin-left: 20px;
}

.photo {
  margin-top: 40px;
}
.photo__header {
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .photo__header {
    font-size: 48px;
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  .photo__header {
    font-size: 64px;
    line-height: 80px;
  }
}
.photo__header_harmony {
  color: #9E1981;
}
.photo__center {
  margin-top: 30px;
}
.photo__center_img {
  border-radius: 20px;
}
@media (min-width: 576px) {
  .photo__center_img {
    border-radius: 60px;
  }
}
.photo__slogan {
  height: 150px;
  margin: 0 auto;
  max-width: 280px;
  margin-top: -55px;
  padding-top: 11px;
  padding-bottom: 13px;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .photo__slogan {
    height: 100px;
  }
}
@media (max-width: 575.98px) {
  .photo__slogan {
    height: 70px;
    margin-top: -30px;
  }
}
@media (max-width: 767.98px) {
  .photo__slogan {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 576px) {
  .photo__slogan {
    width: 90%;
    max-width: 660px;
  }
}
@media (min-width: 992px) {
  .photo__slogan {
    margin-top: -75px;
    margin-left: 22%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.photo__slogan_text {
  font-size: 14px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .photo__slogan_text {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  .photo__slogan_text {
    font-size: 32px;
    line-height: 41.6px;
  }
}

.form__container {
  margin-top: 30px;
  padding: 15px 45px;
  width: 100%;
  background: #FDF6D8;
  border-radius: 40px;
}
@media (max-width: 767.98px) {
  .form__container {
    padding-top: 30px;
  }
}
@media (min-width: 576px) {
  .form__container {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .form__container {
    margin-top: 50px;
    padding: 35px 45px;
  }
}
@media (min-width: 992px) {
  .form__container {
    padding: 85px 80px 40px;
    margin-top: 90px;
  }
}
.form__free {
  display: inline;
  font-size: 13px;
  line-height: 22px;
  padding: 5px 15px;
  width: 350px;
  border-radius: 10px;
  color: #fff;
  background: #9E1981;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  letter-spacing: 5px;
  text-align: center;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form__free {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .form__free {
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 768px) {
  .form__free {
    width: 350px;
  }
}
@media (min-width: 992px) {
  .form__free {
    height: 50px;
    font-size: 24px;
    line-height: 22px;
    margin-left: 10px;
    padding-top: 15px;
  }
}
.form__header {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .form__header {
    font-size: 26px;
    line-height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .form__header {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (min-width: 992px) {
  .form__header {
    font-size: 40px;
    line-height: 50px;
  }
}
.form__block {
  padding: 30px 10px 0 10px;
}
.form__box {
  height: 50px;
  margin-bottom: 1em;
}
@media (max-width: 767.98px) {
  .form__box {
    max-width: 415px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.form__input {
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2B2B2B;
}
.form__block_tel {
  position: relative;
}
.form .form__tel {
  padding-left: 34px;
}
.form__block_tel::after {
  content: "";
  display: block;
  width: 24px;
  height: 16px;
  position: absolute;
  background-image: url(/img/image.svg);
  background-size: cover;
  top: 15px;
  left: 19px;
}
.form__check {
  margin-top: 20px;
}
@media (max-width: 575.98px) {
  .form__check {
    display: flex;
    margin-top: 0;
  }
}
@media (max-width: 767.98px) {
  .form__check {
    max-width: 410px;
    margin: 0 auto;
  }
}
.form__check-label {
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2B2B2B;
}
.form__btn {
  height: 100%;
  width: 100%;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: #2B2B2B;
  background: #FAC1FB;
  border-radius: 10px;
}
.form__btn:hover {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
.form__check {
  position: relative;
}
.form__check input[type=checkbox] {
  visibility: hidden;
}
.form__check input[type=checkbox] + label {
  cursor: pointer;
}
.form__check input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(/img/yes.svg);
  background-size: cover;
  top: 0px;
  left: -2px;
}
.form__check input[type=checkbox]:checked + label::before {
  background-image: url(/img/no.svg) !important;
}

.questions__flex {
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .questions__flex {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .questions__flex {
    margin-top: 60px;
    background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  }
}
@media (min-width: 768px) {
  .questions__flex {
    margin-top: 110px;
    padding: 40px 45px !important;
  }
}
@media (max-width: 767.98px) {
  .questions__flex > * {
    flex: 1 0 100%;
    border-radius: 20px;
    background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%) !important;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
  }
}
.questions__price_header, .questions__how_header, .questions__age_header {
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .questions__price_header, .questions__how_header, .questions__age_header {
    font-size: 24px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  .questions__price_header, .questions__how_header, .questions__age_header {
    font-size: 32px;
    line-height: 30px;
  }
}
.questions__price_text, .questions__how_text, .questions__age_text {
  margin-top: 10px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .questions__price_text, .questions__how_text, .questions__age_text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .questions__price_text, .questions__how_text, .questions__age_text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
  }
}

.training__header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  color: #2B2B2B;
}
@media (min-width: 768px) {
  .training__header {
    font-size: 40px;
    line-height: 50px;
    margin-top: 100px;
    margin-bottom: 60px;
  }
}
.training__header-min {
  font-size: 15px;
  line-height: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #2B2B2B;
}
@media (min-width: 576px) {
  .training__header-min {
    margin-top: 50px;
    font-size: 24px;
    line-height: 30px;
  }
}
.training__box-img {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 575.98px) {
  .training__box-img {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
@media (max-width: 767.98px) {
  .training__box-img {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
}
.training__img {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
@media (max-width: 767.98px) {
  .training__img {
    flex: 0 0 calc(33% - 6.6px);
    margin-bottom: 15px;
    justify-content: left;
  }
}
.training__img_photo {
  margin-top: 10px;
  width: 170px;
  height: 150px;
}
@media (max-width: 575.98px) {
  .training__img_photo {
    max-width: 103px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .training__img_photo {
    width: 15vw;
    height: auto;
  }
}
.training__img_text {
  margin-top: 13px;
}
.training__img_text1 {
  margin-top: 8px;
  text-align: center;
}
.training__img_text, .training__img_text1 {
  font-weight: 700;
  color: #2B2B2B;
  font-size: 14px;
  line-height: 13px;
}
@media (min-width: 992px) {
  .training__img_text, .training__img_text1 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 13px;
  }
}
.training__img_color1 {
  background-color: #B6E1FE;
}
.training__img_color2 {
  background-color: #FAC1FB;
}
.training__img_color3 {
  background-color: #F8D6E4;
}
.training__img_color5 {
  background: #FDF6D8;
}
.training__img_color6 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}

.benefit {
  margin-top: 100px;
  font-size: 40px;
  line-height: 50px;
  margin-top: 100px;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .benefit {
    margin-top: 50px;
  }
}
.benefit__header {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 55px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
}
@media (max-width: 767.98px) {
  .benefit__header {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .benefit__header {
    font-size: 40px;
    line-height: 50px;
    margin-left: 20px;
  }
}
.benefit__box {
  padding-top: 20px;
  padding-left: 15px;
  border-radius: 20px;
}
@media (max-width: 767.98px) {
  .benefit__box {
    margin-bottom: 10px;
    padding: 20px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .benefit__box {
    margin-bottom: 15px;
  }
}
@media (max-width: 1199.98px) {
  .benefit__box {
    padding: 20px 15px;
  }
}
.benefit__box-header {
  margin-left: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .benefit__box-header {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .benefit__box-header {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .benefit__box-header {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .benefit__box-header {
    font-size: 24px;
    line-height: 30px;
  }
}
.benefit__box-text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .benefit__box-text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .benefit__box-text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .benefit__box-text {
    font-size: 17px;
    line-height: 22px;
  }
}
@media (min-width: 1200px) {
  .benefit__box-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
  }
}
.benefit__box1 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
@media (min-width: 992px) {
  .benefit__box1 {
    height: 350px;
  }
}
.benefit__box2 {
  background: #B6E1FE;
}
@media (min-width: 992px) {
  .benefit__box2 {
    height: 200px;
  }
}
.benefit__box3 {
  background: #F8D6E4;
}
@media (min-width: 992px) {
  .benefit__box3 {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 200px;
  }
}
.benefit__box4 {
  background: #FAC1FB;
}
@media (min-width: 992px) {
  .benefit__box4 {
    padding-top: 30px;
    padding-left: 10px;
    height: 400px;
  }
}
.benefit__box5 {
  background: #B6E1FE;
}
@media (min-width: 992px) {
  .benefit__box5 {
    padding-top: 30px;
    height: 400px;
  }
}
.benefit__box6 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
@media (min-width: 992px) {
  .benefit__box6 {
    padding-top: 30px;
    height: 400px;
  }
}
.benefit__button {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .benefit__button {
    width: 550px !important;
    margin-top: 1em;
    padding-bottom: 1.1em !important;
  }
}
.benefit__butt {
  border-radius: 100px;
}
@media (min-width: 1200px) {
  .benefit__butt {
    width: 540px;
    height: 110px;
    margin: 30px auto;
  }
}
.benefit__butt_link {
  width: inherit;
  height: inherit;
  border-radius: 100px;
  padding-top: 40px;
  text-decoration: none;
  font-family: "Rounded Mplus 1c";
  color: #2B2B2B;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: inherit;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 992px) {
  .benefit__butt_link {
    font-size: 32px;
    line-height: 22px;
  }
}

.changes__container {
  margin-top: 100px;
  background-image: url(/img/changes.webp);
  background-repeat: no-repeat;
  background-size: 27%;
  background-position: bottom right;
}
@media (min-width: 992px) {
  .changes__container {
    height: 570px;
  }
}
.changes__header {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 70px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
}
@media (min-width: 992px) {
  .changes__header {
    font-size: 40px;
    line-height: 45px;
  }
}
.changes__300 {
  width: 295px;
  height: 190px;
  background: #F8D6E4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.changes__300_header {
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 68px;
  line-height: 60px;
  color: #2B2B2B;
}
.changes__300_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2B2B2B;
}
.changes__block {
  height: 500px;
  position: relative;
}
.changes__time {
  display: flex;
}
.changes__time > * {
  flex: 0 0 50%;
}
.changes__time_header {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #2B2B2B;
  text-align: center;
}
.changes__time_text {
  margin-top: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #2B2B2B;
  text-align: center;
}
.changes__time1 {
  padding-top: 300px;
  width: 10%;
}
.changes__time2 {
  padding-top: 240px;
}
.changes__time3 {
  padding-top: 180px;
}
.changes__time4 {
  padding-top: 120px;
}
.changes__time5 {
  padding-top: 60px;
}
.changes__time_header1 {
  position: relative;
}
.changes__time_header1::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 138%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -7%;
}
.changes__time_header2 {
  position: relative;
}
.changes__time_header2::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 134%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -7%;
}
.changes__time_header3 {
  position: relative;
}
.changes__time_header3::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 120%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -4%;
}
.changes__time_header4 {
  position: relative;
}
.changes__time_header4::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 138%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -8%;
}
.changes__time_header5 {
  position: relative;
}
.changes__time_header5::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 124%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -6%;
}
.changes__time_header6 {
  position: relative;
}
.changes__time_header6::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 124%;
  height: 3px;
  border-bottom: 2px solid #bec7cf;
  bottom: -15px;
  left: -7%;
}
.changes__time_header6::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(/img/change.svg);
  bottom: -5px;
  right: -12%;
}
.changes__time_text {
  position: relative;
}
.changes__time_text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 3px;
  height: 110%;
  border-left: 2px solid #bec7cf;
  top: -11px;
  left: -10px;
}

.changes2 {
  margin-top: 50px;
  position: relative;
}
@media (min-width: 992px) {
  .changes2 {
    margin-top: 100px;
  }
}
.changes2__row {
  position: relative;
}
@media (max-width: 767.98px) {
  .changes2__lestnica {
    display: none;
  }
}
.changes2__header {
  margin-bottom: 30px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .changes2__header {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 70px;
  }
}
@media (min-width: 992px) {
  .changes2__header {
    font-size: 40px;
    line-height: 50px;
  }
}
.changes2__title {
  align-self: center;
  font-weight: bold;
  padding-left: 40px;
  font-size: 13px;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .changes2__title {
    padding-left: 100px;
  }
}
.changes2__text {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 13px;
}
.changes2__child-image {
  right: 0;
  bottom: 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  .changes2__child-image {
    max-width: 196px;
    position: absolute;
  }
}
@media (min-width: 992px) {
  .changes2__child-image {
    max-width: 270px;
  }
}
@media (min-width: 1200px) {
  .changes2__child-image {
    max-width: 300px;
  }
}
.changes2__mobile_row {
  position: relative;
}
.changes2__mobile_row:after {
  content: "";
  left: 41.76666667%;
  position: absolute;
  width: 1px;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  top: 0;
  bottom: 0;
}
.changes2__300 {
  background: #F8D6E4;
  border-radius: 0.8333em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  height: 100%;
  font-size: 12px;
}
@media (max-width: 767.98px) {
  .changes2__300 {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .changes2__300 {
    position: absolute;
    width: 12.29em;
    height: 7.91em;
  }
}
@media (min-width: 992px) {
  .changes2__300 {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .changes2__300 {
    font-size: 24px;
  }
}
.changes2__300_header {
  margin-top: 0.468em;
  margin-bottom: 0.503em;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 2.66em;
  line-height: 0.937em;
  color: #2B2B2B;
}
.changes2__300_text {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.41em;
  color: #2B2B2B;
}

.opportunities {
  margin-top: 95px;
}
@media (max-width: 991.98px) {
  .opportunities__container {
    margin-bottom: 50px;
  }
}
.opportunities__header {
  margin-bottom: 60px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 992px) {
  .opportunities__header {
    font-size: 40px;
    line-height: 50px;
  }
}
.opportunities__box {
  margin: 0 5px 50px 5px;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 20px;
  height: 95%;
}
@media (min-width: 1200px) {
  .opportunities__box {
    padding-right: 10px;
    height: 420px;
  }
}
.opportunities__box_header {
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #2B2B2B;
}
@media (min-width: 992px) {
  .opportunities__box_header {
    font-size: 24px;
    line-height: 30px;
  }
}
.opportunities__box_text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #2B2B2B;
  margin-top: 1em;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .opportunities__box_text {
    line-height: 24px;
  }
}
@media (min-width: 992px) {
  .opportunities__box_text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .opportunities__box-text1 {
    margin-top: 50px;
  }
}
.opportunities__box1 {
  background: #B6E1FE;
}
.opportunities__box2 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
.opportunities__box3 {
  background: #FAC1FB;
}

.button {
  display: inline-block;
  background: #F8D6E4;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  border-radius: 100px;
  text-decoration: none;
  font-family: "Rounded Mplus 1c";
  padding: 1em 2em;
  color: #2B2B2B;
}
@media (min-width: 992px) {
  .button {
    padding: 1em;
    font-size: 32px;
    line-height: 22px;
    width: 450px;
    padding-top: 40px;
  }
}
.button:hover {
  color: #2B2B2B;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  cursor: pointer;
}

.butt {
  margin: 0 auto;
  border-radius: 100px;
  background: #F8D6E4;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .butt {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .butt {
    width: 450px;
    height: 100px;
  }
}
.butt_link {
  font-size: 18px;
  line-height: 22px;
  height: inherit;
  border-radius: 100px;
  text-decoration: none;
  font-family: "Rounded Mplus 1c";
  color: #2B2B2B;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: inherit;
  text-align: center;
}
@media (max-width: 991.98px) {
  .butt_link {
    padding: 1em 2em;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .butt_link {
    font-size: 32px;
    line-height: 22px;
    width: 450px;
    padding-top: 40px;
  }
}
.butt_link:hover {
  color: #2B2B2B;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}

.group {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .group {
    margin-top: 100px;
  }
}
.group__header {
  margin-bottom: 85px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 992px) {
  .group__header {
    font-size: 40px;
    line-height: 50px;
  }
}
.group__box {
  padding: 0 5px;
}
@media (max-width: 991.98px) {
  .group__box {
    font-size: 3vw;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__box {
    padding: 0 5px;
    font-size: 1.6vw;
  }
}
.group__name {
  font-size: 20px;
  font-size: 2em;
  line-height: 2em;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__name {
    line-height: 1.5em;
    position: relative;
    top: -15px;
  }
}
@media (min-width: 992px) {
  .group__name {
    font-size: 32px;
    line-height: 30px;
  }
}
.group__text {
  margin-top: 35px;
  margin-bottom: 80px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #2B2B2B;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .group__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .group__text {
    font-size: 17px;
    line-height: 27px;
  }
}
.group__text_bold {
  font-weight: 700;
  color: #9E1981;
}
.group__text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2B;
}
@media (max-width: 991.98px) {
  .group__text2 {
    margin-bottom: 40px;
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .group__text2 {
    font-size: 18px;
    line-height: 27px;
    margin-top: 45px;
  }
}
.group__photo {
  padding-top: 4em;
  padding-left: 10px;
  border-radius: 20px;
  height: 68vw;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .group__photo {
    height: 400px;
    padding-left: 20px;
    padding-top: 45px;
  }
}
.group__sub-header {
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2B2B2B;
}
.group__photo1 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  position: relative;
}
.group__photo1::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/Kuryanov.webp);
  background-size: cover;
  bottom: 0px;
  right: 0px;
  width: 48vw;
  height: 68vw;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo1::after {
    width: 232px;
    height: 332px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo1::after {
    width: 290px;
    height: 355px;
  }
}
@media (min-width: 1200px) {
  .group__photo1::after {
    width: 300px;
    height: 430px;
  }
}
.group__photo2 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  position: relative;
}
.group__photo2::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/Popova.webp);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  right: 0px;
  width: 48vw;
  height: 56.6vw;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo2::after {
    width: 268px;
    height: 314px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo2::after {
    width: 290px;
    height: 341px;
  }
}
@media (min-width: 1200px) {
  .group__photo2::after {
    width: 355px;
    height: 417px;
  }
}
.group__photo3 {
  background: #B6E1FE;
  position: relative;
}
.group__photo3::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/Kaganer.webp);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0px;
  right: 0px;
  width: 48vw;
  height: 66.3vw;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo3::after {
    width: 232px;
    height: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo3::after {
    width: 279px;
    height: 383px;
  }
}
@media (min-width: 1200px) {
  .group__photo3::after {
    width: 310px;
    height: 430px;
  }
}
.group__photo4 {
  background: #F8D6E4;
  position: relative;
}
.group__photo4::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/Noskova.webp);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -10px;
  right: 0px;
  width: 58.7vw;
  height: 68vw;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo4::after {
    width: 270px;
    height: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo4::after {
    width: 328px;
    height: 383px;
  }
}
@media (min-width: 1200px) {
  .group__photo4::after {
    width: 370px;
    height: 430px;
  }
}
.group__photo5 {
  background: #FDF6D8;
  position: relative;
}
.group__photo5::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/Romanov.webp);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  width: 39.7vw;
  height: 68vw;
  border-radius: 15px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo5::after {
    width: 270px;
    height: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo5::after {
    width: 328px;
    height: 383px;
  }
}
@media (min-width: 1200px) {
  .group__photo5::after {
    width: 300px;
    height: 430px;
    right: -55px;
  }
}
.group__photo6 {
  background: #FDF6D8;
  position: relative;
}
.group__photo6::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(/img/group/semenova.webp);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  width: 58.7vw;
  height: 68vw;
  border-radius: 15px;
}
@media (max-width: 767.98px) {
  .group__photo6::after {
    width: 46.7vw;
    height: 67vw;
    border-radius: 15px;
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .group__photo6::after {
    width: 230px;
    height: 317px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .group__photo6::after {
    width: 328px;
    height: 383px;
  }
}
@media (min-width: 1200px) {
  .group__photo6::after {
    width: 300px;
    height: 450px;
    right: -50px;
  }
}

.club {
  margin-top: 100px;
}
.club__header {
  font-size: 24px;
  line-height: 26px;
  margin-left: 15px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
}
@media (min-width: 992px) {
  .club__header {
    font-size: 40px;
    line-height: 50px;
  }
}
.club__sub-header {
  margin-top: 55px;
  margin-bottom: 50px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2B2B2B;
}
.club__box {
  margin-bottom: 50px;
}
.club__top-block {
  height: 120px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.club__top-block1 {
  background: #F8D6E4;
}
.club__top-block2 {
  background: #FAC1FB;
}
.club__top-block3 {
  background: #B6E1FE;
}
.club__top-block4 {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
.club__top-block_header {
  margin-top: 15px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #2B2B2B;
}
.club__top-block_text {
  margin-top: 10px;
  font-weight: 400;
  line-height: 20px;
  color: #2B2B2B;
  text-align: center;
}
.club__text {
  margin-top: 30px;
  margin-left: 10px;
  font-weight: 400;
  line-height: 27px;
  color: #2B2B2B;
}
.club__text_bold {
  font-weight: 700;
  line-height: 27px;
  color: #9E1981;
}

.students__header {
  margin: 100px 0 100px 10px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #2B2B2B;
}
.students__owl-BG {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  border-radius: 40px;
}

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .owl-nav {
    left: -13vw;
    right: -13vw;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .owl-nav {
    left: -10vw;
    right: -10vw;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .owl-nav {
    left: -21vw;
    right: -21vw;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .owl-nav {
    left: -280px;
    right: -280px;
  }
}
@media (min-width: 1200px) {
  .owl-nav {
    left: -300px;
    right: -300px;
  }
}
@media (min-width: 1265px) {
  .owl-nav {
    left: -300px;
    right: -300px;
  }
}

.owl-prev, .owl-next {
  display: block;
  background-image: url("../img/left.svg") !important;
  width: 30px;
  height: 55px;
}
.owl-prev > span, .owl-next > span {
  visibility: hidden;
}
.owl-prev:hover, .owl-next:hover {
  background-color: transparent !important;
}

.owl-next {
  background-image: url("../img/right.svg") !important;
}

.owl-dots {
  position: absolute;
  bottom: -73px;
  left: 0;
  right: 0;
}
.owl-dots > *.active > span {
  background: #9E1981 !important;
}
.owl-dots > * > span {
  background: #E1E1E1 !important;
}

.gratitude {
  margin-top: 105px;
  margin-left: 10px;
}
.gratitude__header {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .gratitude__header {
    font-size: 30px;
    line-height: 35px;
  }
}
@media (min-width: 992px) {
  .gratitude__header {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
  }
}
.gratitude__subheader {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 50px;
  font-weight: 400;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .gratitude__subheader {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 992px) {
  .gratitude__subheader {
    font-size: 18px;
    line-height: 27px;
  }
}
.gratitude__left {
  margin-left: -5px;
}
@media (max-width: 991.98px) {
  .gratitude__top {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .gratitude__top {
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .gratitude__lower1 {
    margin-top: 50px;
    margin-left: 10px;
  }
}
@media (min-width: 992px) {
  .gratitude__lower2 {
    margin-top: 50px;
    margin-left: 20px;
  }
}

.reviews {
  margin-top: 100px;
}
.reviews__review {
  padding-bottom: 20px;
}
@media (max-width: 1199.98px) {
  .reviews__review {
    margin-bottom: 1em;
  }
}
.reviews__header {
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 1200px) {
  .reviews__header {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 60px;
  }
}
.reviews__alex {
  background: #B6E1FE;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .reviews__alex {
    width: 85%;
  }
}
.reviews__helen {
  background: #FDF6D8;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .reviews__helen {
    margin-top: 30px;
    height: 270px;
    width: 130%;
  }
}
.reviews__mary {
  background: #F8D6E4;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .reviews__mary {
    margin-left: -20px;
    width: 106%;
  }
}
.reviews__svetlana {
  background: #FAC1FB;
  border-radius: 20px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .reviews__svetlana {
    margin-left: 134px !important;
  }
}
@media (min-width: 992px) {
  .reviews__svetlana {
    margin-top: 30px;
    margin-left: 175px;
    width: 75%;
    height: 350px;
  }
}
.reviews__block {
  margin-top: 25px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1199.98px) {
  .reviews__block > img {
    margin-bottom: 1em;
  }
}
@media (max-width: 575.98px) {
  .reviews__block > img {
    width: 80px;
    height: 80px;
  }
}
.reviews__text {
  padding-top: 30px;
  padding-left: 15px;
  font-weight: 400;
  color: #2B2B2B;
  font-size: 13px;
  line-height: 20px;
}
@media (max-width: 1199.98px) {
  .reviews__text {
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  .reviews__text {
    font-size: 18px;
    line-height: 27px;
  }
}
.reviews__name {
  margin-left: 20px;
  font-weight: 700;
  color: #2B2B2B;
  font-size: 14px;
  line-height: 13px;
}
@media (min-width: 992px) {
  .reviews__name {
    font-size: 20px;
    line-height: 20px;
  }
}

.route {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .route {
    margin-top: 100px;
  }
}
.route__header {
  margin-left: 10px;
  margin-bottom: 20px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  color: #2B2B2B;
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 992px) {
  .route__header {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 65px;
  }
}
.route__address {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  border-radius: 20px;
  padding-bottom: 1em;
}
@media (min-width: 992px) {
  .route__address {
    height: 270px;
  }
}
.route__address_header {
  padding-top: 25px;
  padding-left: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #2B2B2B;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .route__address_header {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (min-width: 992px) {
  .route__address_header {
    font-size: 24px;
    line-height: 30px;
  }
}
.route__address_text {
  padding-top: 30px;
  padding-left: 15px;
  font-weight: 400;
  color: #2B2B2B;
  font-size: 13px;
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .route__address_text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .route__address_text {
    font-size: 18px;
    line-height: 27px;
  }
}
.route__card {
  border-radius: 20px;
}
@media (max-width: 991.98px) {
  .route__card {
    margin-top: 25px;
  }
}
@media (min-width: 992px) {
  .route__card {
    height: 270px;
    margin-left: 5px;
    width: 103%;
  }
}

.footer {
  margin-top: 50px;
  min-height: 300px;
  width: 100%;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  padding-bottom: 2em;
}
@media (min-width: 992px) {
  .footer {
    margin-top: 145px;
  }
}
.footer__left-block {
  margin-top: 20px;
}
.footer__left-block_link {
  text-decoration: none;
  color: #2B2B2B;
}
.footer__left-block_text {
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2B2B2B;
}
.footer__right-block {
  padding-top: 30px;
}
.footer__right-img {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer__vk {
  width: 50px;
  height: 50px;
  background-image: url(/img/vk.svg);
}
.footer__vk:hover {
  background-image: url(/img/vk-hover.svg);
}
.footer__right-block_text {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #2B2B2B;
}

.popup {
  z-index: 11;
}
.popup__box {
  margin: 30vh auto;
  height: 510px;
  width: 100%;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  border-radius: 60px;
}
.popup__header {
  padding: 30px 12%;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #2B2B2B;
}
.popup__block {
  margin: 0 auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popup__check-label {
  margin-top: 10px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #2B2B2B;
}
.popup__input {
  height: 50px;
  width: 100%;
  padding-left: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2B2B2B;
  background: #FDDDC2;
  border-radius: 10px;
  border: none;
}
.popup__area_input {
  height: 90px;
  width: 100%;
  padding-left: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2B2B2B;
  background: #FDDDC2;
  border-radius: 10px;
  border: none;
}
.popup__check {
  position: relative;
}
.popup__check input[type=checkbox] {
  visibility: hidden;
}
.popup__check input[type=checkbox] + label {
  cursor: pointer;
}
.popup__check input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(/img/yes-popup.svg);
  background-size: cover;
  top: 8px;
  left: 28%;
}
.popup__check input[type=checkbox]:checked + label::before {
  background-image: url(/img/no.svg) !important;
}
.popup__submit {
  margin-top: 20px;
  height: 50px;
}
.popup__submit_btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: #2B2B2B;
  background: #F8D6E4;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.3s all;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
}

.zzz {
  border: 2px solid red;
}

.qq {
  display: none;
}

.nav1 {
  margin-top: 120px;
  padding: 25px 20px 40px;
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
}
.nav1__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav1__box {
  margin-top: 25px;
  margin-left: 10%;
}
.nav1__phone {
  margin-top: 15px;
}
.nav1__header {
  margin: 20px 0 20px 15%;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color: #2B2B2B;
}
.nav1__box1 {
  width: 100%;
}
.nav1__input {
  margin-top: 15px;
  padding-left: 12%;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2B2B2B;
  background: #FDDDC2;
  border: none;
}
.nav1__area_input {
  margin-top: 15px;
  padding: 10px 0 0 20px;
  height: 100px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2B2B2B;
  border-radius: 10px;
  background: #FDDDC2;
  border: none;
}
.nav1__block_tel::after {
  content: "";
  display: block;
  width: 24px;
  height: 16px;
  position: absolute;
  background-image: url(/img/image.svg);
  background-size: cover;
  top: 30px;
  left: 19px;
}
.nav1__check {
  margin-top: 15px;
  margin-bottom: 40px;
  position: relative;
}
.nav1__check input[type=checkbox] {
  visibility: hidden;
}
.nav1__check input[type=checkbox] + label {
  cursor: pointer;
}
.nav1__check input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url(/img/yes-4.jpg);
  background-size: cover;
  top: 5px;
  left: 10%;
}
.nav1__check input[type=checkbox]:checked + label::before {
  background-image: url(/img/no.svg) !important;
}
.nav1__callback_link {
  padding: 10px 30px;
  border-radius: 10px;
  background: #F8D6E4;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  color: #2B2B2B;
  text-decoration: none;
}
.nav1__callback_link:hover {
  background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
  color: #2B2B2B;
}