@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
//@import "../node_modules/bootstrap/scss/grid";
//@import "~bootstrap/scss/mixins/_breakpoints";
@import "../fonts/stylesheet.css";
@import "nullstyle.css";
@import "variables.scss";


/**
  в интервале между указанными
  @include media-breakpoint-between("md", "lg") {

    background:green;
  }
*/
/**

  указанный и выше
  @include media-breakpoint-up("md") {

    background:green;
  }
*/
/**
  указанный и ниже
  @include media-breakpoint-down("md") {

    background:green;
  }
*/
/**
  только на указанном
  @include media-breakpoint-only("md") {

    background:green;
  }
*/


body {
  font-family: 'Gilroy';
  background: #FCF7F4;
}

.container {
  max-width: 1130px !important;
}

.nav {
  background: $color_4;


  &__logo {
    @include media-breakpoint-down("lg") {
      max-height: 45px;
    }
  }

  &__container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include media-breakpoint-up("lg") {
      height: 150px;
    }

  }

  &__box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  &__phone_text:hover {
    color: $color_7;

  }

  &__address_text,
  &__phone_text,
  &__callback-link {
    text-decoration: none;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #2B2B2B;
  }

  &__callback {
    width: 220px;
    height: 60px;
    border-radius: 100px;
    background: $color_2;

  }


  &__callback_link {
    width: 220px;
    height: 60px;
    border-radius: 100px;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: $color_7;

    &:hover {
      background: $color_6;
    }

  }

  &__box {
    margin-left: 90px;
  }

  &__address_text,
  &__phone_text {
    margin-left: 20px;
  }


}

.photo {
  //margin-top: 200px;
  margin-top: 50px;
  &__header {
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    color: $color_7;

    @include media-breakpoint-between("sm", "md") {
      font-size: 48px;
      line-height: 60px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 64px;
      line-height: 80px;
    }

    &_harmony {
      color: $color_8;
    }
  }

  &__center {
    margin-top: 30px;

    &_img {
      border-radius: 20px;

      @include media-breakpoint-up("sm") {
        border-radius: 60px;
      }
    }
  }

  &__slogan {
    //margin-top: -75px;
    //margin-left: 22%;
    //width: 660px;
    height: 150px;
    margin: 0 auto;
    max-width: 280px;
    margin-top: -55px;
    padding-top: 11px;
    padding-bottom: 13px;

           @include media-breakpoint-between("sm", "lg") {
             height: 100px;
           }

           @include media-breakpoint-down("sm") {
             height: 70px;
             margin-top: -30px;
           }

    @include media-breakpoint-down("md") {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include media-breakpoint-up("sm") {
      width: 90%;
      max-width: 660px;
    }

    background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-up("lg") {
      margin-top: -75px;
      margin-left: 22%;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &_text {

      font-size: 14px;

      font-family: "Rounded Mplus 1c";
      font-weight: 800;
      color: #2B2B2B;

      @include media-breakpoint-between("sm", "lg") {
        font-size: 24px;
        line-height: 35px;

      }

      @include media-breakpoint-up("lg") {
        font-size: 32px;
        line-height: 41.6px;
      }
    }
  }
}



.form {


  &__container {

  @include media-breakpoint-down("md") {
    padding-top: 30px;
 }
    margin-top: 30px;

    padding: 15px 45px;
    width: 100%;
    //height:330px;
    background: $color_5;
    border-radius: 40px;
    //border: 2px solid red;

    @include media-breakpoint-up("sm") {
      margin-top: 50px;
    }
    @include media-breakpoint-up("md") {
      margin-top: 50px;
      padding: 35px 45px;
    }
    @include media-breakpoint-up("lg") {
      padding: 85px 80px 40px;
      margin-top: 90px;
    }

  }

  &__free {
    display: inline;
    font-size: 13px;
    line-height: 22px;
    padding: 5px 15px;
    width: 350px;
    border-radius: 10px;
    color: #fff;
    background: $color_8;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;

    @include media-breakpoint-only("sm") {
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-only("md") {
      font-size: 20px;
      line-height: 22px;
    }

          @include media-breakpoint-up("md") {
            width: 350px;
          }

    @include media-breakpoint-up("lg") {
      // width: 350px;
      height: 50px;
      font-size: 24px;
      line-height: 22px;
      margin-left: 10px;
      padding-top: 15px;
    }

  }

  &__header {
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Rounded Mplus 1c';
    font-weight: 800;

    font-size: 24px;
    line-height: 26px;

    color: $color_7;
    @include media-breakpoint-only("sm") {
      font-size: 26px;
      line-height: 35px;
    }
    @include media-breakpoint-only("md") {
      font-size: 36px;
      line-height: 45px;
    }
    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
    }

  }

  &__block {
    padding: 30px 10px 0 10px;
  }

  &__box {
    height: 50px;
    margin-bottom: 1em;

    @include media-breakpoint-down("md") {
      max-width: 415px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }

  &__input {
    height: 100%;
    width: 100%;
    border: none;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color_7;

  }

  &__block_tel {
    position: relative;

  }


  .form__tel {
    padding-left: 34px;
  }


  &__block_tel::after {
    content: '';
    display: block;
    width: 24px;
    height: 16px;
    position: absolute;
    background-image: url(/img/image.svg);
    background-size: cover;
    top: 15px;
    left: 19px;
  }


  &__check {
    margin-top: 20px;

    @include media-breakpoint-down("sm") {
      display: flex;
      margin-top: 0;
    }
    @include media-breakpoint-down("md") {
      max-width: 410px;
      margin: 0 auto;
    }

    &-label {
      margin-left: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color_7;
    }
  }

  &__btn {
    height: 100%;
    width: 100%;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    color: $color_7;
    background: $color_2;
    border-radius: 10px;

    &:hover {
      background: $color_6;
    }
  }

  &__check {
    position: relative;


    input[type='checkbox'] {
      visibility: hidden;

      & + label {
        cursor: pointer;
      }

      & + label::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        background-image: url(/img/no.svg);
        background-size: cover;
        top: 0px;
        left: -2px;
      }

      &:checked + label::before {

        background-image: url(/img/yes.svg) !important;

      }
    }

  }


}

.questions {

  &__flex {
    //height: 200px;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;


    @include media-breakpoint-down("md") {
      flex-wrap: wrap;
    }

    @include media-breakpoint-up("md") {
      margin-top: 60px;
      background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
    }

    @include media-breakpoint-up("lg") {
    }

    @include media-breakpoint-up("md") {
      margin-top: 110px;
      padding: 40px 45px !important;
    }

    & > * {
      @include media-breakpoint-down("md") {
        flex: 1 0 100%;
        border-radius: 20px;
        background: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%) !important;
        margin-bottom: 15px;
        padding: 15px;
        text-align: center;
      }
    }
  }

  &__price_header,
  &__how_header,
  &__age_header {
    font-family: "Rounded Mplus 1c";
    font-weight: 800;

    font-size: 20px;
    line-height: 30px;
    color: $color_7;

    @include media-breakpoint-only("md") {
      font-size: 24px;
      line-height: 35px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 32px;
      line-height: 30px;
      //margin-top: 45px;
    }
  }

  &__price_text,
  &__how_text,
  &__age_text {
    margin-top: 10px;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $color_7;

    @include media-breakpoint-only("md") {
      font-size: 16px;
      line-height: 24px;
      margin-top: 30px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 20px;
      line-height: 24px;
      margin-top: 30px;
    }
  }


}

.training {

  &__header {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__header-min {

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    color: $color_7;

    

    @include media-breakpoint-up("lg") {
      margin-top: 50px;
    }

    @include media-breakpoint-up("sm") {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__box-img {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-only("xs") {
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    @include media-breakpoint-down("md") {
      flex-wrap: wrap;

      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 10px;
    }

  }

  &__img {
    //width: 190px;
    //height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

    //@include media-breakpoint-down("md") {
    //  flex: 0 0 calc(50%);
    //}
    @include media-breakpoint-down("md") {
      flex: 0 0 calc(33% - 6.6px);
      margin-bottom: 15px;
      justify-content: left;

    }

    &_photo {
      margin-top: 10px;
      width: 170px;
      height: 150px;

      @include media-breakpoint-down("sm") {
        max-width: 103px;
        height: auto;
      }

      @include media-breakpoint-only("md") {
        width: 15vw;
        height: auto;
      }
    }

    &_text {
      margin-top: 13px;
    }

    &_text1 {
      margin-top: 8px;
      text-align: center;
    }
  }

  &__img_text,
  &__img_text1 {
    font-weight: 700;
    color: $color_7;

    font-size: 14px;
    line-height: 13px;

    @include media-breakpoint-up("lg") {
      font-size: 20px;
      line-height: 22px;
      margin-top: 13px;
    }
  }

  &__img_color1 {
    background-color: $color_1;
  }

  &__img_color2 {
    background-color: $color_2;
  }

  &__img_color3 {
    background-color: $color_3;
  }

  &__img_color5 {
    background: $color_5;
  }

  &__img_color6 {
    background: $color_6;
  }
}

.benefit {
  margin: 100px 0 0 0;
    font-size: 40px;
    line-height: 50px;

  @include media-breakpoint-down("md") {
    margin-top: 50px;
  }


  
 &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }

 }


  &__box {
    padding-top: 20px;
    padding-left: 15px;
    border-radius: 20px;



    @include media-breakpoint-down("md") {
      margin-bottom: 10px;
      padding: 20px 15px;
    }

    @include media-breakpoint-only("md") {
      margin-bottom: 15px;
    }

    @include media-breakpoint-down("xl") {

      padding: 20px 15px;
    }

    &-header {
      margin-left: 0px;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $color_7;

      @include media-breakpoint-only("sm") {
        font-size: 20px;
        line-height: 25px;
      }

      @include media-breakpoint-only("md") {
        font-size: 18px;
        line-height: 22px;
      }

      @include media-breakpoint-only("lg") {
        font-size: 20px;
        line-height: 25px;
      }

      @include media-breakpoint-up("xl") {
        font-size: 24px;
        line-height: 30px;
      }

    }

    &-text {
      margin-top: 10px;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      color: $color_7;

      @include media-breakpoint-only("sm") {
        font-size: 14px;
        line-height: 20px;
      }

      @include media-breakpoint-only("md") {
        font-size: 14px;
        line-height: 22px;
      }

      @include media-breakpoint-only("lg") {
        font-size: 17px;
        line-height: 22px;
      }

      @include media-breakpoint-up("xl") {
        margin-top: 20px;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  &__box1 {
    background: $color_6;

    @include media-breakpoint-up("lg") {
      height: 350px;
    }
  }

  &__box2 {
    background: $color_1;

    @include media-breakpoint-up("lg") {
      height: 200px;
    }
  }

  &__box3 {

    background: $color_3;

    @include media-breakpoint-up("lg") {
      margin-top: 35px;
      margin-bottom: 35px;
      height: 200px;
    }
  }

  &__box4 {

    background: $color_2;

    @include media-breakpoint-up("lg") {
      padding-top: 30px;
      padding-left: 10px;
      height: 400px;
    }
  }

  &__box5 {
    background: $color_1;

    @include media-breakpoint-up("lg") {
      padding-top: 30px;
      height: 400px;
    }
  }

  &__box6 {

    background: $color_6;

    @include media-breakpoint-up("lg") {
      padding-top: 30px;
      height: 400px;
    }
  }


  &__button {
    margin-top: 30px;
    @include media-breakpoint-up("lg") {
      width: 550px !important;
      margin-top: 2em;
      padding-bottom: 1.1em !important;
    }
  }
 

}
 
.changes2 {
  // margin-top: 50px;
  position: relative;

  @include media-breakpoint-up("lg") {
    margin-top: 50px;
  }

  &__row {
    position: relative;
  }

  &__lestnica {
    @include media-breakpoint-down("md") {
      display: none;
    }
  }

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__title {
    align-self: center;
    font-weight: bold;
    padding-left: 40px;
    font-size: 13px;


    @include media-breakpoint-only("sm") {
      padding-left: 100px;
    }
  }
  &__text {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 13px;
  }

  &__child-image{
    right: 0;
    bottom: 0;
    max-width: 100%;

    @include media-breakpoint-up("md") {
      max-width: 196px;
      position: absolute;
    }
    @include media-breakpoint-up("lg") {
      max-width: 270px;
    }
    @include media-breakpoint-up("xl") {
      max-width: 300px;
    }
  }

  &__mobile_row {
    position: relative;
    &:after {
      content: "";
      left: 41.76666667%;
      position: absolute;
      width: 1px;
      background: $color_6;
      top: 0;
      bottom: 0;
    }

  }

  &__300 {

    background: $color_3;
    border-radius: .8333em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    height: 100%;
    font-size: 12px;

    @include media-breakpoint-down("md") {
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-up("md") {
      position: absolute;
      width: 12.29em;
      height: 7.91em;
    }
    @include media-breakpoint-up("lg") {
      font-size: 22px;
    }
    @include media-breakpoint-up("xl") {
      font-size: 24px;
    }

    &_header {
      margin-top: .468em;
      margin-bottom: .503em;
      font-family: "Rounded Mplus 1c";
      font-weight: 800;
      font-size: 2.66em;
      line-height: .937em;
      color: $color_7;
    }

    &_text {

      font-weight: 400;
      font-size: 1em;
      line-height: 1.41em;
      color: $color_7;
    }
  }
}

.opportunities {
  margin-top: 95px;

  // &__container {
  //   @include media-breakpoint-down("lg") {
  //     margin-bottom: 30px;
  //   }
  // }

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__box {
    margin:0px 5px 0px 5px ;
    padding: 30px 20px;
    border-radius: 20px;
    height: 100%;

    @include media-breakpoint-up("xl") {

      padding-right: 10px;
       height: 420px;
    }

    &_header {
      font-size: 15px;
      line-height: 22px;
      font-weight: 700;
      color: $color_7;

      @include media-breakpoint-up("lg") {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &_text {
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: $color_7;
      margin-top: 1em;


      @include media-breakpoint-only("md") {
        line-height: 24px;
      }

      @include media-breakpoint-up("lg") {
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;

      }
    }


  }

  &__box-text1 {
    @include media-breakpoint-up("lg") {

      margin-top: 50px;
    }
  }

  &__box1 {
    background: $color_1;

  }

  &__box2 {
    background: $color_6;
  }

  &__box3 {
    background: $color_2;
  }
  &__button{
    margin-top: 30px;
    
    @include media-breakpoint-up("xl"){
    margin-top: 50px;
    }
  }


}

// записаться на танцыы

.button {
  display: inline-block;
  background: $color_3;
  text-align: center;
  font-size: 18px;
  line-height: 22px;

  border-radius: 100px;
  text-decoration: none;
  font-family: "Rounded Mplus 1c";

  padding: 1em 2em;
  color: $color_7;


  @include media-breakpoint-up("lg") {
    padding: 1em;
    font-size: 32px;
    line-height: 22px;
    width: 450px;
    
  }

  &:hover {
    color: $color_7;
    background: $color_6;
    cursor: pointer;
  }
}

.butt {
  margin: 0 auto;
  border-radius: 100px;
  background: $color_3;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down("lg") {
    display: inline-block;
  }
  @include media-breakpoint-up("lg") {
    width: 450px;
    height: 100px;
  }

  &_link {
    font-size: 18px;
    line-height: 22px;

    height: inherit;
    border-radius: 100px;
    text-decoration: none;
    font-family: "Rounded Mplus 1c";

    color: $color_7;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: inherit;
    text-align: center;

    @include media-breakpoint-down("lg") {
      padding: 1em 2em;
      display: inline-block;
    }

    @include media-breakpoint-up("lg") {
      font-size: 32px;
      line-height: 22px;
      width: 450px;
      padding-top: 40px;
    }

    &:hover {
      color: $color_7;
      background: $color_6;
    }

  }

}

.group {

  margin-top: 50px;

  @include media-breakpoint-up("lg") {
    margin-top: 100px;
  }

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__box {
    padding: 0 5px;

    @include media-breakpoint-down("lg") {
      font-size: 3vw;
    }

    @include media-breakpoint-only("md") {
      padding: 0 5px;
      font-size: 1.6vw;
    }
  }

  &__name {
    font-size: 20px;
    font-size: 2em;
    line-height: 1em;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    color: $color_7;

    @include media-breakpoint-only("md") {
      // line-height: 1.5em;
      position: relative;
      top: -15px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 32px;
      line-height: 30px;
    }

  }

  &__text {

    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
    line-height: 20px;

    font-weight: 400;
    color: $color_7;


    @include media-breakpoint-between("sm", "md") {
      font-size: 16px;
      line-height: 20px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 17px;
      line-height: 27px;  
       margin-top: 35px;
      margin-bottom: 80px;
    }

    &_bold {
      font-weight: 700;
      color: $color_8;
    }
  }

  &__text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color_7;

    @include media-breakpoint-down("lg") {
      margin-bottom: 40px;
      margin-top: 15px;
    }

    @include media-breakpoint-up("lg") {
      font-size: 18px;
      line-height: 27px;
      margin-top: 45px;
    }
  }

  &__photo {
    padding-top: 4em;
    padding-left: 10px;
    border-radius: 20px;
    height: 68vw;

    @include media-breakpoint-only("md") {
      height: 400px;
    }

    @include media-breakpoint-up("lg") {
      height: 400px;
      padding-left: 20px;
      padding-top: 45px;
    }
  }

  &__sub-header {

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      margin-top: 50px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__photo1 {
    background: $color_6;
    position: relative;
  }

  &__photo1::after {
    content: '';
    display: inline-block;
    position: absolute;

    background-image: url(/img/group/Kuryanov.webp);
    background-size: cover;
    bottom: 0px;
    right: 0px;
    width: 48vw;
    height: 68vw;
    border-radius: 15px;

    @include media-breakpoint-only("md") {
      width: 232px;
      height: 332px;
    }
    @include media-breakpoint-only("lg") {
      width: 290px;
      height: 355px;
    }
    @include media-breakpoint-up("xl") {
      width: 300px;
      height: 430px;
    }
  }


  &__photo2 {
    background: $color_6;
    position: relative;
  }

  &__photo2::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/img/group/Popova.webp);
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0px;
    right: 0px;

    width: 48vw;
    height: 56.6vw;
    border-radius: 15px;

    @include media-breakpoint-only("md") {
      width: 268px;
      height: 314px;
    }

    @include media-breakpoint-only("lg") {
      width: 290px;
      height: 341px;
    }

    @include media-breakpoint-up("xl") {
      width: 355px;
      height: 417px;
    }
  }


  &__photo3 {
    background: $color_1;
    position: relative;
  }

  &__photo3::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/img/group/Kaganer.webp);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0px;


    width: 48vw;
    height: 66.3vw;
    border-radius: 15px;

    @include media-breakpoint-only("md") {
      width: 232px;
      height: 317px;
    }
    @include media-breakpoint-only("lg") {
      width: 279px;
      height: 383px;
    }
    @include media-breakpoint-up("xl") {
      width: 310px;
      height: 430px;
    }
  }


  &__photo4 {
    background: $color_3;
    position: relative;
  }

  &__photo4::after {
    content: '';
    display: inline-block;
    position: absolute;
    background-image: url(/img/group/Noskova.webp);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -6px;
    right: 0px;


    width: 58.7vw;
    height: 68vw;
    border-radius: 15px;

    @include media-breakpoint-only("md") {
      width: 270px;
      height: 317px;
      bottom: -10px;
    }
    @include media-breakpoint-only("lg") {
      width: 328px;
      height: 383px;
      bottom: -12px;
    }
    @include media-breakpoint-up("xl") {
      width: 370px;
      height: 430px;
       bottom: -13px;
    }
  }


  &__photo5 {
    background: $color_5;
    position: relative;
  }

  &__photo5::after {
    content: '';
    display: inline-block;
    position: absolute;

    background-image: url(/img/group/Romanov.webp);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    width: 39.7vw;

    height: 68vw;
    border-radius: 15px;


    @include media-breakpoint-only("md") {
      width: 270px;
      height: 317px;
    }
    @include media-breakpoint-only("lg") {
      width: 328px;
      height: 383px;
    }
    @include media-breakpoint-up("xl") {
      width: 300px;
      height: 430px;
      right: -55px;
    }
  }


  &__photo6 {
    background: $color_5;
    position: relative;
  }

  &__photo6::after {
    content: '';
    display: inline-block;
    position: absolute;

    background-image: url(/img/group/semenova.webp);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;

    width: 58.7vw;
    height: 68vw;
    border-radius: 15px;


    @include media-breakpoint-down("md") {
      width: 46.7vw;
      height: 67vw;
      border-radius: 15px;
      right: 0;
    }
    @include media-breakpoint-only("md") {
      width: 230px;
      height: 317px;
    }
    @include media-breakpoint-only("lg") {
      width: 328px;
      height: 383px;
    }
    @include media-breakpoint-up("xl") {
      width: 300px;
      height: 450px;
      right: -50px;
    }
  }

}

.club {
  margin-top: 50px;

  @include media-breakpoint-up("lg") {
    margin-top: 100px;
  }


  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__sub-header {
    

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $color_7;

    

    @include media-breakpoint-up("lg") {
      margin-top: 50px;
      font-size: 24px;
      line-height: 30px;
    }
 
  }

  &__box {
    margin-bottom: 50px;
  }

  &__top-block {
    padding: 20px;
    border-radius: 20px;
    @include media-breakpoint-up("lg"){
      height: 140px;
    }
    @include media-breakpoint-up("md"){
      height:130px ;
    }
  }

  &__top-block1 {
    background: $color_3;
  }

  &__top-block2 {
    background: $color_2;
  }


  &__top-block3 {
    background: $color_1;
  }


  &__top-block4 {
    background: $color_6;
  }

  &__top-block_header {
   
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: $color_7;

    @include media-breakpoint-up("md"){
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__top-block_text {
    margin-top: 10px;
    
    font-weight: 400;
    //font-style: 18px;
    line-height: 20px;
    color: $color_7;
    text-align: center;
  }

  &__text {
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 400;
    //font-style: 18px;
    line-height: 27px;
    color: $color_7;
  }

  &__text_bold {
    font-weight: 700;
    //font-style: 18px;
    line-height: 27px;
    color: $color_8;
  }
  
  &__button{
      margin-top: 30px;
      
      @include media-breakpoint-up("xl"){
      margin-top: 50px;
      }
    
  }

}

.students {

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__owl-BG {
    margin: 0 auto;
    // height: 540px;
    // width: 84%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: $color_6;
    border-radius: 40px;

  }
}


.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  right: 0;
  left: 0;
  // background: red;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down("md") {
    left: -13vw;
    right: -13vw;
  }
  @include media-breakpoint-only("md") {
    left: -10vw;
    right: -10vw;
  }
  @include media-breakpoint-only("md") {
    left: -21vw;
    right: -21vw;
  }

  @include media-breakpoint-only("lg") {
    left: -280px;
    right: -280px;
  }

  @include media-breakpoint-up("xl") {
    left: -300px;
    right: -300px;
  }

  @media (min-width: 1265px) {
    left: -300px;
    right: -300px;
  }
}

.owl-prev, .owl-next {
  display: block;
  background-image: url("../img/left.svg") !important;
  width: 30px;
  height: 55px;

  & > span {
    visibility: hidden;
  }

  &:hover {
    background-color: transparent !important;
  }
}

.owl-next {
  background-image: url("../img/right.svg") !important;
}

.owl-dots {
  position: absolute;
  bottom: -73px;
  left: 0;
  right: 0;

  & > * {
    &.active {
      & > span {
        background: $color_8 !important;
      }
    }

    & > span {
      background: $color_9 !important;
    }
  }
}


.gratitude {
  margin-top: 105px;
  margin-left: 10px;

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__subheader {

    margin-bottom: 20px;
    font-size: 13px;
    line-height: 20px;
 
    font-weight: 400;
    color: $color_7;


    @include media-breakpoint-only("md") {
      font-size: 16px;
      line-height: 22px;
    }
    @include media-breakpoint-up("lg") {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 50px;
    }
  }

  &__left {

    margin-left: -5px;
  }

  &__top {
    @include media-breakpoint-down("lg") {
      margin-bottom: 15px;
    }
    @include media-breakpoint-up("lg") {
      margin-left: 10px;
    }
  }

  &__lower1 {

    @include media-breakpoint-up("lg") {
      margin-top: 50px;
      margin-left: 10px;
    }

  }

  &__lower2 {


    @include media-breakpoint-up("lg") {
      margin-top: 50px;
      margin-left: 20px;
    }

  }

}

.reviews {
  margin-top: 70px;
  @include media-breakpoint-up("lg") {
    margin-top: 100px;
  }

  &__review {
    padding-bottom: 30px;
    @include media-breakpoint-down("xl") {
      margin-bottom: 1em;
    }
  }

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__alex {

    background: $color_1;
    border-radius: 20px;
    @include media-breakpoint-up("lg") {
      //height: 470px;
      width: 85%;
    }
  }

  &__helen {

    background: $color_5;
    border-radius: 20px;

    @include media-breakpoint-up("lg") {
      margin-top: 30px;
      height: 270px;
      width: 130%;
    }
  }

  &__mary {

    background: $color_3;
    border-radius: 20px;

    @include media-breakpoint-up("lg") {
      margin-left: -20px;
      //height: 300px;
      width: 106%;
    }
  }

  &__svetlana {

    background: $color_2;
    border-radius: 20px;

    @include media-breakpoint-only("lg") {
      margin-left: 134px !important;
    }

    @include media-breakpoint-up("lg") {
      margin-top: 30px;
      margin-left: 175px;
      width: 75%;
      height: 350px;
    }
  }

  &__block {
    margin-top: 25px;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > img {
      @include media-breakpoint-down("xl") {
        margin-bottom: 1em;
      }
      @include media-breakpoint-only("xs") {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__text {
    padding-top: 30px;
    padding-left: 15px;
    font-weight: 400;
    color: $color_7;
    font-size: 13px;
    line-height: 20px;

    @include media-breakpoint-down("xl") {
      padding-right: 15px;
    }
    @include media-breakpoint-up("md") {
      font-size: 17px;
    }
    @include media-breakpoint-up("lg") {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__name {
    margin-left: 20px;
    font-weight: 700;
    color: $color_7;
    font-size: 14px;
    line-height: 13px;

    @include media-breakpoint-up("lg") {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.route {
  margin-top: 50px;

  @include media-breakpoint-up("lg") {
    margin-top: 100px;
  }

  
  &__header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }

  &__address {
    background: $color_6;
    border-radius: 20px;
    padding-bottom: 1em;

    @include media-breakpoint-up("lg") {

      height: 270px;
    }

    &_header {
      padding-top: 25px;
      padding-left: 15px;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $color_7;

      @include media-breakpoint-only("md") {
        font-size: 20px;
        line-height: 25px;
      }

      @include media-breakpoint-up("lg") {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &_text {
      padding-top: 30px;
      padding-left: 15px;
      font-weight: 400;
      color: $color_7;
      font-size: 13px;
      line-height: 20px;

      @include media-breakpoint-only("md") {
        font-size: 14px;
        line-height: 20px;
      }

      @include media-breakpoint-up("lg") {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  &__card {
    border-radius: 20px;

    @include media-breakpoint-down("lg") {
      margin-top: 25px;
    }
    @include media-breakpoint-up("lg") {

      height: 270px;
      margin-left: 5px;
      width: 103%;
    }

  }
}

.footer {

  margin-top: 50px;
  min-height: 300px;
  width: 100%;
  background: $color_6;
  padding-bottom: 2em;

  @include media-breakpoint-up("lg") {

    margin-top: 145px;
  }

  &__left-block {
    margin-top: 20px;
  }

  &__left-block_link {
    text-decoration: none;
    color: $color_7;
  }

  &__left-block_text {
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $color_7;
  }

  &__right-block {
    padding-top: 30px;
  }

  &__right-img {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  &__vk {
    width: 50px;
    height: 50px;
    background-image: url(/img/vk.svg);

    &:hover {
      background-image: url(/img/vk-hover.svg)
    }
  }

  &__right-block_text {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $color_7;
  }


}

.popup {
  z-index: 11;

  &__box {
    transform: translateY(-50%);
    border-radius: 20px;
    top: 50vh;
    position: relative;
/* margin: 30vh auto; */
/* height: 510px;*/
    width: 100%;
    background: $color_6;
    padding-bottom: 30px;

    @include media-breakpoint-up("lg") {
      border-radius: 60px;
    }
  }

  &__header {
    padding: 30px 12%;
    font-family: "Rounded Mplus 1c";
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    color: $color_7;

    @include media-breakpoint-up("lg") {
      font-size: 40px;
      line-height: 50px;
    }

  }

&__block {
margin: 0 auto;
height: 250px;

display: flex;
flex-direction: column;
justify-content: space-between;

}

&__check-label {
margin-top: 10px;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: $color_7;
}

&__input {

height: 50px;
width: 100%;
padding-left: 50px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: $color_7;
background: $color_4;
border-radius: 10px;
border: none;


}

&__area_input {
height: 90px;
width: 100%;
padding-left: 50px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: $color_7;
background: $color_4;
border-radius: 10px;
border: none;
}


&__check {
position: relative;

  @include media-breakpoint-down("lg") {
    display: flex;
  }

input[type='checkbox'] {
  visibility: hidden;

  & + label {
    cursor: pointer;
    margin-left: 1em;
  }

  & + label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(/img/no.svg);
    background-size: cover;
    top: 8px;
    left: 0;
  }

  &:checked + label::before {

    background-image: url(/img/yes-popup.svg) !important;

  }
}

}


&__submit {
margin-top: 20px;
height: 50px;

&_btn {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  line-height: 22px;
  color: $color_7;
  background: $color_3;

  @include media-breakpoint-up("lg") {

    font-size: 20px;
  }
}
}


}


.modal-overlay {


opacity: 0;
visibility: hidden;

position: fixed;
top: 0;
left: 0;
   right: 0;
   bottom:0;
   width: 100%;
   height: 100vh;

   background-color: rgba(0, 0, 0, .5);
   z-index: 100;
   transition: .3s all;
}
.modal-overlay--visible{
opacity: 1;
 visibility: visible;
}

.zzz{
border: 2px solid red
}
.qq{
display: none;
}

.nav1{
margin-top: 120px;
padding: 25px 20px 40px;
background: $color_6;

&__top{

  display: flex;
  justify-content: space-between;
  align-items:center;
}

&__box{
  margin-top: 25px;
  margin-left: 10%;
}

&__phone{
  margin-top: 15px;
}

&__header{
  margin: 20px 0 20px 15%;
  font-family:"Rounded Mplus 1c";
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color:$color_7;
}

&__box1{
  width: 100%;
}

&__input{
  margin-top: 15px;
  padding-left: 12%;
  height: 50px;
  width: 100%;
  border-radius: 10px;

font-weight: 500;
font-size: 16px;
line-height: 24px;
color: $color_7;
  background: $color_4;
  border:none;
}

&__area_input{
  margin-top: 15px;
  padding: 10px 0 0 20px;
  height: 100px;
  width: 100%;

font-weight: 500;
font-size: 16px;
line-height: 24px;
color: $color_7;
  border-radius: 10px;
  background: $color_4;
  border:none;
}

&__block_tel::after {
content: '';
display: block;
width: 24px;
height: 16px;
position: absolute;
background-image: url(/img/image.svg);
background-size: cover;
top: 30px;
left: 19px;
}

&__check {

margin-top: 15px;
margin-bottom: 40px;
position: relative;

input[type='checkbox'] {
  visibility: hidden;

  & + label {
    cursor: pointer;
  }

  & + label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(/img/yes-4.jpg);
    background-size: cover;
    top: 5px;
    left: 10%;
  }

  &:checked + label::before {

    background-image: url(/img/yes.svg) !important;

  }
}


}

&__callback_link{

padding: 10px 30px;
border-radius: 10px;
background:$color_3;
font-family: "Rounded Mplus 1c";
font-weight: 800;
font-size: 20px;
line-height: 22px;
color: $color_7;
text-decoration: none;

&:hover{
  background:$color_6;
  color: $color_7;
}
}

}


//  .modal-overlay {


//     // opacity: 0;
//     // visibility: hidden;

//     position: fixed;
//     top: 0;
//     left: 0;
//        right: 0;
//        bottom:0;
// //     width: 100%;
//        height: 100vh;

//        background-color: rgba(0, 0, 0, .5);
//        z-index: 100;
// //     transition: .3s all;
//  }
//  .modal-overlay--visible{
//     opacity: 1;
//      visibility: visible;
//  }

// .zzz{
//     border: 2px solid red
// } 
