$color_1: #B6E1FE;
$color_2: #FAC1FB;
$color_3: #F8D6E4;
$color_4: #FDDDC2;
$color_5: #FDF6D8;
$color_6: linear-gradient(109.33deg, #F8D6E4 4.51%, #FAC1FB 41.76%, #B6E1FE 91.73%);
$color_7: #2B2B2B;
$color_8: #9E1981;
$color_9: #E1E1E1;;